@charset "utf-8";
/* CSS Document */

/*----------------------------------------------------- blue style --------------------------------------------- */

::selection {
	background: #3399DB; 
	color:#fff;
}
::-moz-selection {
	background: #3399DB;
	color:#fff;
}
#jpreBar,.patern span,.red,.nav-button span,.inner-overlay,.skillbar-bar,.serviseslider h3 span,.icon-holder,.subscriptionForm input#submitButton,#loadingProgress,.planContainer .price,.planContainer .button a, .sepcolor,.quote-icon,.skillbar-bar,#facts ul li h6,.skillbar-bar-member,.member-social-list li a,#closeProject a,#ajaxpage a.lanch-project,#clientlist,#contact_form textarea:focus,#contact_form input:focus, .owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls .clickable .owl-page:hover span,.slides-pagination a.current,.slides-pagination a:hover,.submit_btn:hover, .pagination a.current-page, .pagination a:hover , .project-details a{
	background:#3399DB;
}
.ajl,.bigtext,.sections-head,.slides-container h1 span,.planContainer .options li,.error,#options li:hover,#options li.actcat,.social-list ul li a:hover,.num,.project-description h3,.project-details h3,.subcribe div#error,.subcribe div#success,.smallicon:hover,.footer, .simple-page-head .content h2 span, .post-body a, .widget h4, .search-submit, .tagcloud a:hover, #comments-title , #reply-title , .controls button:hover, .share-options a:hover, .portfolio-nav a{
	color:#3399DB;
}
#team .content,#options li.back,#subscribe .content,#prices .content, .simple-page{
	border-top:2px solid #3399DB;
}
#facts ul li h6:before {
	border-bottom-color: #3399DB;
}
#testimonials .content{
	border-top:2px solid #3399DB;
	border-bottom:2px solid #3399DB;
}
.actser:after{
	bottom: -20px;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.actser:after {
	border-width: 6px;
	margin-left: -6px;
	border-top-color: #3399DB;
}
.inner a:hover , .inner li.current a{
	color:#3399DB;
	border-right:2px solid #3399DB;
}
.customNavigation a.next-slide{
	background:#3399DB url(../images/pl-small.png) no-repeat center;
}
.customNavigation a.close{
	background:#3399DB url(../images/close-white.png) no-repeat center;
}
.customNavigation a.btn:hover{
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3399DB, 0 0 0 10px rgba(255,255,255,0.5);
}
.triangle{
	border-color: transparent #3399DB transparent transparent;
}
.popup-gallery a span {
	background: #3399DB url(../images/pl-small.png) no-repeat center;
}
.social-list ul li.back{
	border-top: 1px solid #3399DB;
}
.to-top:after {
	border-bottom-color: #3399DB;
}
.flex-direction-nav .flex-next { 
	background: #3399DB url(../images/project-next1.png) no-repeat center;
}
.flex-direction-nav .flex-prev {
	background: #3399DB url(../images/project-prev1.png) no-repeat center;
}

/*----------------------------------------------------- green style --------------------------------------------- */

@charset "utf-8";
/* CSS Document */

::selection {
	background: #1BBC9B; 
	color:#fff;
}
::-moz-selection {
	background: #1BBC9B;
	color:#fff;
}
#jpreBar,.patern span,.red,.nav-button span,.inner-overlay,.skillbar-bar,.serviseslider h3 span,.icon-holder,.subscriptionForm input#submitButton,#loadingProgress,.planContainer .price,.planContainer .button a, .sepcolor,.quote-icon,.skillbar-bar,#facts ul li h6,.skillbar-bar-member,.member-social-list li a,#closeProject a,#ajaxpage a.lanch-project,#clientlist,#contact_form textarea:focus,#contact_form input:focus, .owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls .clickable .owl-page:hover span,.slides-pagination a.current,.slides-pagination a:hover,.submit_btn:hover, .pagination a.current-page, .pagination a:hover , .project-details a{
	background:#1BBC9B;
}
.ajl,.bigtext,.sections-head,.slides-container h1 span,.planContainer .options li,.error,#options li:hover,#options li.actcat,.social-list ul li a:hover,.num,.project-description h3,.project-details h3,.subcribe div#error,.subcribe div#success,.smallicon:hover,.footer, .simple-page-head .content h2 span, .post-body a, .widget h4, .search-submit, .tagcloud a:hover, #comments-title , #reply-title , .controls button:hover, .share-options a:hover, .portfolio-nav a{
	color:#1BBC9B;
}
#team .content,#options li.back,#subscribe .content,#prices .content, .simple-page{
	border-top:2px solid #1BBC9B;
}
#facts ul li h6:before {
	border-bottom-color: #1BBC9B;
}
#testimonials .content{
	border-top:2px solid #1BBC9B;
	border-bottom:2px solid #1BBC9B;
}
.actser:after{
	bottom: -20px;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.actser:after {
	border-width: 6px;
	margin-left: -6px;
	border-top-color: #1BBC9B;
}
.inner a:hover , .inner li.current a{
	color:#1BBC9B;
	border-right:2px solid #1BBC9B;
}
.customNavigation a.next-slide{
	background:#1BBC9B url(../images/pl-small.png) no-repeat center;
}
.customNavigation a.close{
	background:#1BBC9B url(../images/close-white.png) no-repeat center;
}
.customNavigation a.btn:hover{
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #1BBC9B, 0 0 0 10px rgba(255,255,255,0.5);
}
.triangle{
	border-color: transparent #1BBC9B transparent transparent;
}
.popup-gallery a span {
	background: #1BBC9B url(../images/pl-small.png) no-repeat center;
}
.social-list ul li.back{
	border-top: 1px solid #1BBC9B;
}
.to-top:after {
	border-bottom-color: #1BBC9B;
}
.flex-direction-nav .flex-next { 
	background: #1BBC9B url(../images/project-next1.png) no-repeat center;
}
.flex-direction-nav .flex-prev {
	background: #1BBC9B url(../images/project-prev1.png) no-repeat center;
}

/*----------------------------------------------------- yellow style --------------------------------------------- */

@charset "utf-8";
/* CSS Document */

::selection {
	background: #FFD600; 
	color:#fff;
}
::-moz-selection {
	background: #FFD600;
	color:#fff;
}
#jpreBar,.patern span,.red,.nav-button span,.inner-overlay,.skillbar-bar,.serviseslider h3 span,.icon-holder,.subscriptionForm input#submitButton,#loadingProgress,.planContainer .price,.planContainer .button a, .sepcolor,.quote-icon,.skillbar-bar,#facts ul li h6,.skillbar-bar-member,.member-social-list li a,#closeProject a,#ajaxpage a.lanch-project,#clientlist,#contact_form textarea:focus,#contact_form input:focus, .owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls .clickable .owl-page:hover span,.slides-pagination a.current,.slides-pagination a:hover,.submit_btn:hover, .pagination a.current-page, .pagination a:hover , .project-details a{
	background:#FFD600;
}
.ajl,.bigtext,.sections-head,.slides-container h1 span,.planContainer .options li,.error,#options li:hover,#options li.actcat,.social-list ul li a:hover,.num,.project-description h3,.project-details h3,.subcribe div#error,.subcribe div#success,.smallicon:hover,.footer, .simple-page-head .content h2 span, .post-body a, .widget h4, .search-submit, .tagcloud a:hover, #comments-title , #reply-title , .controls button:hover, .share-options a:hover, .portfolio-nav a{
	color:#FFD600;
}
#team .content,#options li.back,#subscribe .content,#prices .content, .simple-page{
	border-top:2px solid #FFD600;
}
#facts ul li h6:before {
	border-bottom-color: #FFD600;
}
#testimonials .content{
	border-top:2px solid #FFD600;
	border-bottom:2px solid #FFD600;
}
.actser:after{
	bottom: -20px;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.actser:after {
	border-width: 6px;
	margin-left: -6px;
	border-top-color: #FFD600;
}
.inner a:hover , .inner li.current a{
	color:#FFD600;
	border-right:2px solid #FFD600;
}
.customNavigation a.next-slide{
	background:#FFD600 url(../images/pl-small.png) no-repeat center;
}
.customNavigation a.close{
	background:#FFD600 url(../images/close-white.png) no-repeat center;
}
.customNavigation a.btn:hover{
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #FFD600, 0 0 0 10px rgba(255,255,255,0.5);
}
.triangle{
	border-color: transparent #FFD600 transparent transparent;
}
.popup-gallery a span {
	background: #FFD600 url(../images/pl-small.png) no-repeat center;
}
.social-list ul li.back{
	border-top: 1px solid #FFD600;
}
.to-top:after {
	border-bottom-color: #FFD600;
}
.flex-direction-nav .flex-next { 
	background: #FFD600 url(../images/project-next1.png) no-repeat center;
}
.flex-direction-nav .flex-prev {
	background: #FFD600 url(../images/project-prev1.png) no-repeat center;
}